.wrapper {
  //   width: 90%;
  //   max-width: 1200px;
  margin: 5px 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  width: 100%;
  height: 50px;
}

.logo {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -2px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  > button {
    margin: 0 5px;
  }
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search {
  box-shadow: 0px 4px 24px 13px rgba(63, 99, 226, 0.03);
  width: 100%;
  height: 80px;
  border-radius: 8px;
  margin: 40px 0;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchButton {
  height: 44px;
  width: 280px;
  font-size: 18px;
}
.searchInput {
  margin: 0 16px;
  width: 50%;
}
.searchSelect {
  width: 30%;
  margin: 0 16px;
  padding: 0 28px;
  border-left: 1px solid #c5c5c5;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bodyLeft {
  width: 25%;
  margin-right: 24px;
}

.bodyRight {
  width: 73%;
}

.filterWrapper {
  //   background-color: #f6f9ff;
  border-radius: 6px;
  padding: 12px 16px;
  > div {
    display: flex;
    flex-direction: column;
    > div:first-child {
      font-size: 14px;
      font-weight: 500;
      margin: 16px 0;
      color: #808080;
    }
  }
}

.checkRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > span {
    color: #808080;
  }
}

.filterHeading {
  font-size: 18px;
  font-weight: 600;
}

.bodyTopRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div:first-child {
    margin: 8px 0;
    > span:first-child {
      font-size: 18px;
      font-weight: 600;
    }
    > span:last-child {
      font-size: 18px;
      color: #808080;
      font-weight: 400;
      margin: 0 12px;
    }
  }
  > div:last-child {
    > span {
      font-size: 12px;
      font-weight: 600;
      color: #808080;
    }
  }
}

.jobCardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
