.wrapper {
  margin: 5px 5%;
}

.heading {
  background-color: #f0f0f0;
  padding: 30px 5%;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 28px;
}

.formWrapper {
  margin: 40px 25%;
}

.buttonWrapper {
  button:first-child {
    margin-right: 8px;
  }
}
